.c-why-home__wrapper {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

.c-why-home__wrapper--secundary {
    margin: 200px auto 0px;
}

@media only screen and (min-width: 720px) {

    .c-why-home__wrapper--secundary {
        margin: auto;
    }

}

.c-why-home__wrapper-title {
    margin-top: 40px;
}

.c-why-home__wrapper-text {
    text-align: left;
    margin-top: 20px;
    width: 90%;
}

@media only screen and (min-width: 720px) {

    .c-why-home__wrapper-text {
        text-align: center;
        width: 66%;
    }

}

.c-why-home__wrapper-items {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;
    overflow-y: auto;
    overflow-x: hidden;
}

@media only screen and (min-width: 720px) {

    .c-why-home__wrapper-items {
        width: 100%;
    }

}

.c-why-home__wrapper-items {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;
}

@media only screen and (min-width: 720px) {

    .c-why-home__wrapper-items {
        flex-flow: row nowrap;
    }

}

.c-why-home__wrapper-item {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    /* align-content: center; */
    width: 45%;
}

@media only screen and (min-width: 720px) {

    .c-why-home__wrapper-item {
        width: 15%;
    }
    
}

.c-why-home__text-item {
    height: 80px;
}

@media only screen and (min-width: 720px) {

    .c-why-home__text-item {
        height: 100px;
    }
    
}

.c-why-home__wrapper-arrow { 
    display: none;
}

.c-why-home__wrapper-item--hidden {
    display: none;
}

@media only screen and (min-width: 720px) {

    .c-why-home__wrapper-item--hidden {
        display: flex;
    }

}

@media only screen and (min-width: 720px) {

    .c-why-home__wrapper-arrow {
        display: flex;
    }

}

.c-why-home__wrapper-button {
    margin: 0px auto 60px;
    width: 85%;
}

@media only screen and (min-width: 720px) {

    .c-why-home__wrapper-button {
        margin: 20px auto 60px;
        width: 35%;
    }

}

.c-why-home__wrapper-button--secundary {
    margin-bottom: 20px;
}