.o-bg-color-primary-00 {
    background-color: #E2231A;
}

.o-bg-color-primary-10 {
    background-color: #9F3122;
}

.o-bg-color-primary-20 {
    background-color: #682F24;
}

.o-bg-color-secundario-00 {
    background-color: #C3C5C8;
}

.o-bg-color-secundario-10 {
    background-color: #5C666F;
}

.o-bg-color-secundario-20 {
    background-color: #232121;
}

.o-bg-color-blanco {
    background-color: #FFFFFF;
}

.o-bg-color-svg {
    background-color: #FFFFFF;
}